@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title ="Interventions">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </title>
</head>
<body>

<div class="row">
    <div class="col-md-8">
        <h2>Select a day to view its interventions</h2>
        <form>
            <input type="date" class="form-control">
            <input type="submit" class="form-control">
        </form>
    </div>
</div>
</body>